body{
	overflow-x: hidden; 
	font-family: segoe ui;
	color: white;
	background: white;
	width: 100%;
	height: 100%;
}
html{
	width: 100%;
	height: 100%;
}
.nav-item{
	margin: 0 auto;
}
.menu-top{
	z-index: 3;
	top: 0px;
	left: 0px;
	width: 100%;
	background: white;
}
.menu-top .logo{
	width: 225px;
	height: 132px;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(imager/L.PNG);
}
.khoitt1{
	margin-top: 172px;
	width: 100%;
	background: #e9585f;
	position: relative;
}
.khoitt1:before{
	content: "";
	position: absolute;
	top: 0px;
	width: 50%;
	height: 100%;
	left: 0px;
	background: #e4555b;
}
.khoitt1 .tt {
	position: absolute;
	width: 70%;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;

}
.khoitt1 .tt h2{
	text-transform: uppercase;
	font-size: 40px;
	font-weight: bold;
}
.khoitt1 .tt p{
	color: black;
	font-size: 16px;
	width: 40%;
	line-height: 25px;
	margin: auto;
	margin-bottom: 24px;
}
.khoitt1 .tt .avatar{
	margin: auto;
	width: 200px;
	height: 200px;
	background-color: black;
	background-image: url(imager/avatar.png);
	background-size: cover;
	border-radius: 50%;
}
/*phan repon*/
@media (min-width: 0px) and (max-width: 575px){
	.menu-top .menudown{
		position: absolute;
		top: 0px;
		right: 10px;
		opacity: 0;
		display: block;
		transform: translateY(-300px);
		visibility: hidden;
		transition: 0.4s;
	}
	.nut1, .nut2{
		position: absolute;
		top: 0px;
		right: 10px;
		transition: 0.2s;

	}
	.nut2{
		z-index: 3;
		opacity: 0;
		visibility: hidden;
		transform: scale(0);
		transition: 0.2s;

	}
	.nut1.hien{
	z-index: 3;
	opacity: 0;
	visibility: hidden;
	transform: scale(0);
	transition: 0.2s;
	}
	.nut2.close{
		z-index: 3;
		opacity: 1;
		visibility: visible;
		transform: scale(1);
		transition: 0.2s;

	}
	.menu-top .menudown.down{
		z-index: 2;
		opacity: 1;
		display: block;
		transform: translateY(0px);
		visibility: visible;
		transition: 0.4s;
		background: #341233;
		border-right: 6px;
	}
	.menu-top .menudown.down li a{
		color: white;
	}
	.menu-top .menudown.down li:hover > a{
		color: #ef7e7e;
	}
}
@media (max-width: 320px){
	.wh{
		background: white;
		height: 132px;
		width: 100%!important;
	}
}
@media(max-width: 322px){
	.menu-top .logo{
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(imager/L.PNG);

}
.khoitt1{
	margin-top: 132px;
	width: 100%;
	background: #e9585f;
	position: relative;
}
}
